{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'js/websockets.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <h2>Upload Log file</h2>
    <h4>Path should be %APPDATA%\..\LocalLow\Wizards Of The Coast\MTGA\output_log.txt</h4>
    <input type="file" id="filename" onchange="sendFileName('{{ user.get_username }}')"/>
    <br/>
    <button type="button" class="btn btn-success" onclick="sendFile()">Upload File</button>
    <div id="sentItemMessage" class="alert alert-success" role="alert" style="visibility: hidden;">
        The file has been successfully uploaded!
    </div>
{% endblock %}