.dc_roundnum {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 30px;
    height: 21px;
    text-align: center;
    border: solid 1px #a88f87;
    background-color: #eeece7;
}

.dc_round {
    -webkit-border-radius: 30%;
    border-radius: 30%;
}

.dc_selectedcards {
    float: right;
    margin-right: 5px;
    color: #9a0e11;
    border: solid 1px #9a0e11 !important;
}

.dc_oncard {
    position: relative;
    top: -40px;
    left: 0px;
}

.dc_gs {
    transition-duration: .2s;
    transition-property: filter,opacity;
    filter: brightness(.6);
}